
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ByPassToProfiler</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>

        This is bypass page for Profiler ...........please wait for a moment ..........we are redirecting to Profiler.

    </div>
</body>

@*    <script>
        $(document).ready(function () {

            $.get("/Connect/LoginProfiler",null, function () {
           // It won't come back.
       });

        });

    </script>*@
</html>
