
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Connect Index Page.................Please click on suggested link to redirected towards Profiler................
    </div>
    <div>
        @Html.ActionLink("Go To Profiler", "ByPassToProfiler", new { controller = "Connect" }, new { target = "_blank" })
        <br />
        <a href="@Url.Action("ByPassToProfiler", "Connect")" target="_blank">Go To Profiler</a>
    </div>
</body>
</html>
